<!-- <div [formGroup]="addProductFormGroup">
  <input type="text" formControlName="productName" placeholder="Enter the product name">
<br>
    <input type="file" (change)="addImage($event)">

    <div formArrayName="images">
        <div *ngFor="let image of imageArray.controls; let i = index">
          <img [src]="image.value" height="100">
          <button type="button" (click)="removeImage(i)">Remove</button>
        </div>
      </div>
      <button type="submit" (click)="saveProduct()">Save</button>
</div> -->
