<!-- <button class="close-icon"  (click)="closeChat()"><i class="fa-solid fa-xmark "></i>Close</button> -->
<!-- <header>Chat list</header>
<button (click)="exportUserData()">Export user details</button>
<ul>
<ng-container *ngFor="let userDet of userDetList">
    <li class="flex justify-content-around" *ngIf="userDet.userId!=currentUser">
        <span>{{userDet.userFirstName}}</span>
        <button (click)="individualChat(userDet)" [disabled]="userDet.userId==currentUser">Chat</button>
    </li>
</ng-container>
</ul>
<div *ngIf="chatReceiver">
    <ng-container *ngIf="startChat">
    <ng-container  *ngFor="let chatInfo of chatDetails">
        <div [ngClass]="chatInfo.sender==currentUser?'align-right':'align-left'">
            <span class="width-75">{{chatInfo.senderMsg}}</span>
        </div>
    </ng-container>
</ng-container>
    <div [formGroup]="chatFormGroup">
    <input type="text" formControlName="chatInput"><button (click)="sendMsg(chatReceiver)">Send</button>
</div>
</div> -->



