<div class="card flex justify-content-start flex-wrap gap-5 p-4">
    <p-card class="flex-auto" styleClass="bg-transparent flex justify-content-center w-full" header="Advanced Card" [style]="{ width: '360px' }">
        <p-chart  width="300px" height="300px" type="bar" [data]="basicData" [options]="basicOptions" 
    [responsive]="true" />
    </p-card>
    <p-card class="flex-auto" header="Advanced Card" styleClass="bg-transparent flex justify-content-center w-full"  [style]="{ width: '360px' }">
        <p-chart type="pie" [data]="data" [options]="options" />
    </p-card>
    <p-card class="flex-auto" header="Advanced Card" styleClass="bg-transparent flex justify-content-center w-full"  [style]="{ width: '360px' }">
        <p-chart type="pie" [data]="data" [options]="options" />
    </p-card>
    
   
    
</div>